.nav {
  grid-area: nav;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav_links {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 10%;
}

.nav_links a {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
  transition: 0.2s ease-in-out;
}

.nav_links a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  transition: 0.2s ease-in-out;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: auto 0;
  padding-left: 10%;
}


.item.content h3 {
  margin-top: 0;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 48px;
  line-height: 64px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #999;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #999;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}

h1 a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid;
  transition: 0.2s ease-in-out;
}

h1 a:hover {
  color: #999;
  text-decoration: none;
  border-bottom: 2px solid;
  padding-bottom: 4px;
  transition: 0.2s ease-in-out;
}

.container {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 20%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  grid-template-areas: 
    "intro intro intro"
    "sidebar1 content content"
    "image1 image1 image1"
    "content2 content2 sidebar3"
    "image2 image2 image2"
    "footer footer footer";
}

@media only screen and (max-width: 768px) {
  
.nav_links a {
  margin: 8px;
  font-size: 11px;
}

.container {
  display: grid; 
  grid-gap: 16px;
  grid-template-areas: 
    "intro intro intro"
    "sidebar1 sidebar1 sidebar1"
    "content content content"
    "image1 image1 image1"
    "content2 content2 content2"
    "sidebar3 sidebar3 sidebar3"
    "image2 image2 image2"
    "footer footer footer";
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #999;
  letter-spacing: .1em;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #999;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

}

.intro {
  grid-area: intro;
}

.sidebar-1 {
  grid-area: sidebar1;
}

.image-1 {
  grid-area: image1;
}

.sidebar-3 {
  grid-area: sidebar3;
}

.image-2 {
  grid-area: image2;
}

.content {
  grid-area: content;
}

.content-2 {
  grid-area: content2;
}

.footer {
  grid-area: footer;
}

.footer {
  color: #333333;
  text-decoration: none;
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.footer a {
  color: #333333;
  text-decoration: none;
}
